div, ul, li{
	list-style-type: none;
}

/* ----- CALENDAR ----- */
.calendar{
	background-color: #333333;
}

.calendar-header{
	background-color: #333333;
	color: #a7a7a7;
	border-bottom: 1px solid #484848;
	margin: 0; padding: 0;
	text-align: center;
	line-height: 0px;
	font-size: 0px;
	/*padding-bottom: 10px; */
}

.calendar-header:after{
	content: '';
	display: inline-block;
	width: 100%;
}   

table {
	width: 100%;
	color: #9d9d9d;
}

th {
	font-weight: normal;
	font-size: 16px;
	color: #5b5b5b;
}

td {
	font-weight: normal;
	font-size: 12px;
	text-align: center;
}

td > span{
	display: inline-block;
	text-align: center;
	padding: 3px; margin: 0px;
	width: 50px; height: 50px;
	line-height: 20px;
}
	
td > span:hover{
	 font-weight: bold; 
}
	
 td > span.active{
	border: 1px solid #98cd60;
	border-radius: 30px!important;
}

.last {
	display: block;
	padding-bottom: 20px;
}

/* ----- AGENDA ----- */
	
/* .description{ 
	margin-top: 10px;
	margin-left: 10px;
	color: #fd9a4a;
	font-size: 14px;
    overflow: visible;
} */

/* .description	.description-content{
	margin-top: 5px;
}

.description	.description-content p {
	font-size: 12px;
	margin: 0;
	color: #c5c5c5;
}
			
.description	.description-content	ul.contact-list{
	margin: 0;
	margin-top: 10px;
	padding: 0;
}
.description	.description-content	ul.contact-list	li.contact{
	overflow: hidden;
	display: block;
	float: left;
	margin: 0; padding: 0;
	border: 2px solid fadeout(#98cd60, 75%);
	border-radius: 60px;
	width: 56px; height: 56px;
	text-decoration: none;
	text-align: center;
	margin-right: 10px;
	transition: all 0.2s;
}
.description	.description-content	ul.contact-list	li.contact	img{
	width: 60px; height: 60px;
}
					
.description	.description-content	ul.contact-list	li.contact:hover{
	border: 2px solid #98cd60;          
}
					
.description	.description-content	ul.contact-list	li.contact.add-contact{
	color: #98cd60;
	font-size: 20px;
	line-height: 60px;
}

.description	.description-content	ul.contact-list	li.contact.add-contact a{
	color: inherit;
	text-decoration: none;
}
						
.description .description-content	ul.contact-list	li.contact .add-contact a:hover{
	background-color: fadeout(#98cd60, 75%);
} */

/* .hike-contact {
	list-style: none;
	margin: 0;
    padding-left: 25px;
	overflow: hidden;
}

.hike-contact > li {
    float: left;
	margin: 5px;
	padding: 5px;
    text-align: left;
}

.schedule-item{
	display: block;
	margin-bottom: 50px;
	padding: 0;
	clear: both;
	min-height: 100px;
  	overflow: visible;
}
	
.schedule-item:last-child{
	margin-bottom: 10px;
    min-height: 30px;
}
	
.time{
	display: block;
	float: left;
	color: #cccccc;
	text-align: center;
	padding-bottom: 10px;
	line-height: 25px;
}	

.time	span{
	font-size: 24px;
	height: 20px;
	margin: auto;
	display: block;
} */


.hike-card-title {
	color: #1f83bd;
}

.btn-register {
	min-width: 200px;
}

.event-card {
	border-left: none;
	border-right: none;
}

div.event-date {
	float: left;
}

div.event-time {
	float: left;
	margin-left: 100px;
}

div.event-name {
	float: right;
}

.alt {
	background-color: #d8d4d4;
}

@media only screen and (max-width:1112px) {
	div.event-date, div.event-time, div.event-name {
		float: none;
		width: 100%;
		align-content: center;
	}

	div.event-time {
		margin: 0;
	}
}