html {
    font-family: 'halyard-display', 'halyard-micro', 'sans-serif';
    background-color:#FFFFFF;
}

div {
    background-color:#a8b3b7;
}

header {
    text-align: center;
}

main, footer, header {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

footer>div, nav {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;   
}

.justify-text {
    text-align: justify;
    margin-top: 20px;
}

#timer {
    padding: 5px;
    font-size: small ;
}
.top-margin {
    margin-top: 20px;
}
h1 {
    color:#0d7707;
}

h2 {
    color:#037998;
}

h1, h2, h3, nav  {
    font-family: 'halyard-micro';
}

nav {
    font-size: small;
}

p {
    color: #FFFFFF;
    
}

a {
    color: #2a530e; 
}

a:hover {
    color: #B2D61E;
}

button {
    background-color: #495255;
    border-radius: 8px;
    
}
.header-img {
    max-width: 100%;
    height: auto;
    text-align: center;
}